<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849235045302-oamm0e9iejd74hcv80jme833681ugno9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849235045302-oamm0e9iejd74hcv80jme833681ugno9</string>
	<key>API_KEY</key>
	<string>AIzaSyDaufTjR5l8As6m7o2neVNsbKvxd6Bz0ys</string>
	<key>GCM_SENDER_ID</key>
	<string>849235045302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-ui-codelab-7315e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-ui-codelab-7315e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849235045302:ios:1c2ba85a39388058d86f17</string>
</dict>
</plist>